body {
    background-color: skyblue;
}
/* Désactiver les interactions avec l'arrière-plan */
.body-modal-open {
    pointer-events: none; /* Désactive les clics et les interactions */
    background: blur(500px); /* Floute l'arrière-plan */
    overflow: hidden;
}

/* Activer uniquement la modale */
.body-modal-open .deleteModal {
    pointer-events: auto; /* Réactive les clics dans la modale */
}
