<footer class="w-full backdrop-blur-lg border-t border-white/20 text-white py-6 bg-blue-900">
    <div class="container mx-auto text-center">
        <p class="text-lg font-semibold">Gestionnaire de Tâches</p>
        <p class="text-sm text-white/70">Organisez vos tâches avec style et efficacité.</p>
        
        <div class="mt-4 flex justify-center space-x-6">
            <a href="https://github.com/StevenLeCamPro" target="_blank" class="text-white hover:text-blue-400 transition duration-300">
                <i class="fab fa-github text-2xl"></i>
            </a>
            <a href="https://www.linkedin.com/in/steven-le-cam/" target="_blank" class="text-white hover:text-blue-400 transition duration-300">
                <i class="fab fa-linkedin text-2xl"></i>
            </a>
            <a href="https://portfolio-stevenlecampros-projects.vercel.app/" target="_blank" class="text-white hover:text-blue-400 transition duration-300">
               <i class="fa-solid fa-briefcase text-2xl"></i>
            </a>
        </div>

        <p class="mt-4 text-xs text-white/50">© 2025 - Créé  par Steven Le Cam</p>
    </div>
</footer>
